# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/models/
backend/dist/
backend/fallback.json

# Node
frontend/node_modules/
frontend/dist/

# Environment
.env
*.env

# OS
.DS_Store
Thumbs.db